<root>

    <bean id="messengerServer" class="track.messenger.net.MessengerServer">
        <property name="port" val="19000"/>
        <property name="nthreads" val="4"/>
        <property name="commander" ref="commander"/>
    </bean>

    <bean id="commander" class="track.messenger.commands.Commander">
        <property name="users" ref="userStore"/>
        <property name="messages" ref="messageStore"/>
        <property name="chatRelations" ref="chatRelationStore"/>
        <property name="hashAlgorithm" val="SHA-256"/>
    </bean>

    <bean id="userStore" class="track.messenger.store.UserStore">
        <property name="databaseName" val="store.sqlite3"/>
        <property name="tableName" val="Users"/>
    </bean>

    <bean id="messageStore" class="track.messenger.store.MessageStore">
        <property name="databaseName" val="store.sqlite3"/>
        <property name="tableName" val="Messages"/>
    </bean>

    <bean id="chatRelationStore" class="track.messenger.store.ChatRelationStore">
        <property name="databaseName" val="store.sqlite3"/>
        <property name="tableName" val="ChatRelations"/>
    </bean>

</root>